<footer
  class="flex flex-col items-center justify-center gap-y-8 bg-[#f1f1f1] py-8 text-3xl font-medium text-[#383b28]"
>
  <a href="/faq" class="hover:underline">FAQ</a>
  <a href="/contactus" class="hover:underline">Contact Us</a>
  <div class="flex items-center justify-center gap-x-4">
    <a href="/"
      ><img src="images/Facebook.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"
      ><img src="images/Instagram.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"
      ><img src="images/Twitter.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"
      ><img src="images/Whatsapp.png" alt="" srcset="" class="w-6"
    /></a>
    <a href="/"><img src="images/Email.png" alt="" srcset="" class="w-6" /></a>
  </div>
</footer>
