<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JELAJAH</title>

    <!-- CSS -->
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="/stylesheets/custom.css" />

    <!-- FONT -->
    <link
      href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap"
      rel="stylesheet"
    />

    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
    <script>
      setInterval(function () {
        document.querySelector("[data-carousel-next]").click();
      }, 4000);
    </script>

    <script src="https://unpkg.com/flowbite@1.4.0/dist/flowbite.js"></script>
  </head>
  <body>
    <%- include('../partials/navbar') %>
    <main class="mt-40"><%- body %></main>
    <script src="/javascripts/custom.js"></script>
  </body>
</html>
