<% layout('layouts/boilerplate') -%>
<header
  class="relative flex h-[45vh] flex-col items-center justify-center bg-[#383b28] text-white"
>
  <p class="text-5xl">Join a Workshop</p>
  <p class="mt-4 w-[40%] text-center text-xl font-thin">
    Find and book the workshop you wanted from your chosen city to experience
    the culture
  </p>
  <div
    class="absolute bottom-0 flex w-[32%] translate-y-[50%] items-center justify-center gap-x-6 rounded-2xl bg-[#d9d9d9] px-6 py-3 text-xl text-black"
  >
    <p>Where</p>
    <div class="h-8 w-[1px] border-l border-[#acacac]"></div>
    <p>When</p>
    <div class="h-8 w-[1px] border-l border-[#acacac]"></div>
    <p>How many Guest</p>
    <img src="images/search-workshop.png" alt="" srcset="" />
  </div>
</header>
